spring:
  application:
    name: ckb-explorer-web
  profiles:
    active: localhost

# Server configuration
server:
  port: 8081
  servlet:
    context-path: /api

# Logging configuration
logging:
  level:
    root: INFO
    com:
      example:
        ckbexplorer: DEBUG
        ckb:
          explorer: DEBUG

# Swagger/OpenAPI configuration
springdoc:
  openapi:
    paths-to-match: /api/**
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
  api-docs:
    path: /v3/api-docs

# Redisson configuration

# MyBatis-plus configuration
mybatis-plus:
  mapper-locations: classpath:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

