spring:
  application:
    name: ckb-explorer-web
  profiles:
    active: localhost

# Server configuration
server:
  port: 8081
  servlet:
    context-path:
  compression:
    enabled: true # 开启压缩
    mime-types: application/json,application/xml,text/html,text/plain # 压缩的 MIME 类型
    min-response-size: 1024 # 最小响应大小（超过 1KB 才压缩）
    compression-level: 6


# Swagger/OpenAPI configuration
springdoc:
  openapi:
    paths-to-match: /api/**
  swagger-ui:
    path: /api/swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
  api-docs:
    path: /v3/api-docs

# Redisson configuration

# MyBatis-plus configuration
mybatis-plus:
  mapper-locations: classpath:mapper/**/*.xml
  type-handlers-package: com.ckb.explorer.config.mybatis
  configuration:
    map-underscore-to-camel-case: true

