spring:
  application:
    name: ckb-explorer-web
  profiles:
    active: localhost
  # JPA configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        globally_quoted_identifiers: true
        jdbc.batch_size: 50
        order_inserts: true
        order_updates: true

# Server configuration
server:
  port: 8081
  servlet:
    context-path: /api/v1

# Logging configuration
logging:
  level:
    root: INFO
    com:
      example:
        ckbexplorer: DEBUG
        ckb:
          explorer: DEBUG

# Swagger/OpenAPI configuration
springdoc:
  openapi:
    paths-to-match: /api/v1/**
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
  api-docs:
    path: /v3/api-docs

# Redisson configuration

