spring:
  application:
    name: ckb-explorer-web
  profiles:
    active: localhost

# Server configuration
server:
  port: 8081
  servlet:
    context-path:
  compression:
    enabled: true # 开启GZIP压缩
    mime-types: application/json,application/xml,text/html,text/plain # 压缩的 MIME 类型
    min-response-size: 1024 # 最小响应大小（超过 1KB 才压缩）
    compression-level: 8
  undertow:
    buffer-size: 32768  # 32KB 缓冲区（默认 1KB，提升大文件传输速度）
    direct-buffers: true  # 使用直接内存，减少拷贝


# Swagger/OpenAPI configuration
springdoc:
  openapi:
    paths-to-match: /api/**
  swagger-ui:
    path: /api/swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
  api-docs:
    path: /v3/api-docs

# Redisson configuration

# MyBatis-plus configuration
mybatis-plus:
  mapper-locations: classpath:mapper/**/*.xml
  type-handlers-package: com.ckb.explorer.config.mybatis
  configuration:
    map-underscore-to-camel-case: true

# Actuator configuration
management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: /api/v1/actuator
  health:
    db:
      enabled: false
    refresh:
      enabled: false
feign:
  client:
    config:
      default:  # 全局配置（也可指定 worker-service 单独配置）
        connect-timeout: 3000  # 连接超时 3 秒
        read-timeout: 3000     # 读取超时 3 秒
