spring:
  application:
    name: ckb-explorer-web
  threads:
    virtual:
      enabled: true
#  rabbitmq:
#    host: 127.0.0.1
#    port: 5672
#    username: rivtower
#    password: rivtower
#    virtual-host: /
  datasource:
    url: jdbc:postgresql://localhost:5432/ckbexplorer
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
      database: 4
        # lettuce:
        #   pool:
          # 虚拟线程下建议关闭连接池（每个请求短平快）
          #     max-active: 200
      password: abcdefg
      redisson:
        config: |
          singleServerConfig:
            address: redis://localhost:6379
            password: abcdefg
            database: 4
            idleConnectionTimeout: 10000
            connectTimeout: 10000
            timeout: 3000
            retryAttempts: 3
            retryInterval: 1500
            subscriptionsPerConnection: 5
            clientName: ckb-explorer-web
            # 降低连接池
            connectionMinimumIdleSize: 4
            connectionPoolSize: 16
            dnsMonitoringInterval: 5000
            codec: !<org.redisson.codec.JsonJacksonCodec> {}
  liquibase:
    enabled: false
    change-log: classpath:liquibase/changelog.yml
    database-change-log-lock-table: liquibase-lock
    database-change-log-table: liquibase-changelog
logging:
  level:
    com.ckb.explorer.mapper: DEBUG
    org.springframework: DEBUG
    com.baomidou: DEBUG
ckb:
  netWork: 2