<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ckb.explorer.mapper.InputMapper">


  <select id="getDisplayInputs" resultType="com.ckb.explorer.domain.dto.CellInputDto">
    select o.id,
           false                                 as from_cellbase,
           o.capacity                            as capacity,
           o.occupied_capacity                   as occupied_capacity,
           s.code_hash                           as lock_code_hash,
           s.args                                as lock_args,
           s.hash_type                           as lock_hash_type,
           '0x' || encode(o.tx_hash, 'hex')      as generated_tx_hash,
           o.output_index                        as cell_index,
           'normal'                              as cell_type,
           '0x' || encode(i.since, 'hex')        as since_raw,
           '0x' || encode(type.args, 'hex')      as args,
           '0x' || encode(type.code_hash, 'hex') as code_hash,
           type.hash_type                        as hash_type
    from input i
           inner join output o on o.id = i.output_id
           LEFT join script s on o.lock_script_id = s.id
           left join script type on o.type_script_id = type.id
    where consumed_tx_id = #{transactionId}
    order by id
  </select>

</mapper>