<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckb.explorer.mapper.LiveCellsMapper">

    <resultMap id="BaseResultMap" type="com.ckb.explorer.entity.LiveCells">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="outputId" column="output_id" jdbcType="BIGINT"/>
            <result property="capacity" column="capacity" jdbcType="BIGINT"/>
            <result property="lockScriptId" column="lock_script_id" jdbcType="BIGINT"/>
            <result property="typeScriptId" column="type_script_id" jdbcType="BIGINT"/>
            <result property="cellType" column="cell_type" jdbcType="INTEGER"/>
            <result property="udtAmount" column="udt_amount" jdbcType="OTHER"/>
            <result property="occupiedCapacity" column="occupied_capacity" jdbcType="BIGINT"/>
            <result property="blockNumber" column="block_number" jdbcType="BIGINT"/>
            <result property="blockTimestamp" column="block_timestamp" jdbcType="BIGINT"/>
            <result property="txId" column="tx_id" jdbcType="BIGINT"/>
            <result property="txHash" column="tx_hash" jdbcType="OTHER"/>
            <result property="data" column="data" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,output_id,capacity,
        lock_script_id,type_script_id,cell_type,
        udt_amount,occupied_capacity,block_number,
        block_timestamp,tx_id,tx_hash,data
    </sql>

  <resultMap id="liveCellsMap" type="com.ckb.explorer.domain.resp.LiveCellsResponse">
    <result property="id" column="id"/>
    <result property="cellType" column="cell_type"/>
    <result property="txHash" column="tx_hash"/>
    <result property="typeHash" column="type_script_hash"/>
    <!--<result property="cellIndex" column="cell_index"/>-->
    <result property="data" column="data"/>
    <result property="tags" column="xudt_tags" typeHandler="org.apache.ibatis.type.ArrayTypeHandler" jdbcType="ARRAY"/>
    <result property="blockNumber" column="block_number"/>
    <result property="capacity" column="capacity"/>
    <result property="occupiedCapacity" column="occupied_capacity"/>
    <result property="blockTimestamp" column="block_timestamp"/>
    <association property="extraInfo" javaType="com.ckb.explorer.domain.resp.ExtraInfoResponse">
      <result property="symbol" column="symbol"/>
      <result property="amount" column="udt_amount"/>
      <result property="decimal" column="decimal"/>
      <result property="typeHash" column="type_script_hash"/>
      <result property="published" column="published"/>
    </association>
  </resultMap>

  <select id="getLiveCellsByLockScriptIdWithTypeScriptId" resultMap="liveCellsMap">
    select  lc.output_id as id,
            lc.cell_type,
           '0x' || encode(lc.tx_hash, 'hex'),
           -- lc.cell_index,
           '0x' || encode(u.type_script_hash, 'hex'),
           '0x' || encode(lc.data, 'hex'),
           u.xudt_tags,
           lc.block_number,
           lc.capacity,
           lc.occupied_capacity,
           lc.block_timestamp,
           lc.udt_amount,
           u.symbol,
           u.decimal,
           u.published
    from live_cells lc
           left join udts u on lc.type_script_id = u.type_script_id
    where lc.lock_script_id = #{lockScriptId}
    <if test="typeScriptId != null">
      and lc.type_script_id = #{typeScriptId}
    </if>
    <if test="typeScriptId = null">
      and lc.type_script_id is null
    </if>
  </select>
  <select id="getOthersLiveCellsByLockScriptId" resultMap="liveCellsMap">
    select
        lc.output_id as id,
        lc.cell_type,
        '0x' || encode(lc.tx_hash, 'hex'),
        -- lc.cell_index,
        '0x' || encode(u.type_script_hash, 'hex'),
        '0x' || encode(lc.data, 'hex'),
        lc.block_number,
        lc.capacity,
        lc.occupied_capacity,
        lc.block_timestamp
    from live_cells lc
           left join udts u on lc.type_script_id = u.type_script_id
    where lc.lock_script_id = #{lockScriptId}
    <if test="null != udtAndNormalCellType">
      AND lc.cell_type not in
      <foreach item="item" index="index" collection="udtAndNormalCellType" open="(" separator=","
        close=" )">
        #{item}
      </foreach>
    </if>
  </select>
</mapper>
