<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckb.explorer.mapper.UdtsMapper">

    <resultMap id="BaseResultMap" type="com.ckb.explorer.entity.Udts">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="full_name" column="full_name" jdbcType="VARCHAR"/>
            <result property="symbol" column="symbol" jdbcType="VARCHAR"/>
            <result property="decimal" column="decimal" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="icon_file" column="icon_file" jdbcType="VARCHAR"/>
            <result property="operator_website" column="operator_website" jdbcType="VARCHAR"/>
            <result property="addresses_count" column="addresses_count" jdbcType="BIGINT"/>
            <result property="total_amount" column="total_amount" jdbcType="NUMERIC"/>
            <result property="udt_type" column="udt_type" jdbcType="INTEGER"/>
            <result property="published" column="published" jdbcType="BOOLEAN"/>
            <result property="created_at" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updated_at" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="block_timestamp" column="block_timestamp" jdbcType="BIGINT"/>
            <result property="issuer_address" column="issuer_address" jdbcType="OTHER"/>
            <result property="ckb_transactions_count" column="ckb_transactions_count" jdbcType="BIGINT"/>
            <result property="nrc_factory_cell_id" column="nrc_factory_cell_id" jdbcType="BIGINT"/>
            <result property="display_name" column="display_name" jdbcType="VARCHAR"/>
            <result property="uan" column="uan" jdbcType="VARCHAR"/>
            <result property="h24_ckb_transactions_count" column="h24_ckb_transactions_count" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="type_script_id" column="type_script_id" jdbcType="BIGINT"/>
           <result property="xudt_tags" column="xudt_tags" typeHandler="org.apache.ibatis.type.ArrayTypeHandler" jdbcType="ARRAY"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,full_name,symbol,
        decimal,description,icon_file,
        operator_website,addresses_count,total_amount,
        udt_type,published,created_at,
        updated_at,block_timestamp,issuer_address,
        ckb_transactions_count,nrc_factory_cell_id,display_name,
        uan,h24_ckb_transactions_count,email,
        type_script_id,xudt_tags
    </sql>
</mapper>
